.container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12rem;
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1.2rem;
    text-align: center;
    transition: var(--transition);
    backdrop-filter: blur(15px);
}

.contact__option__icons {
    color: var(--color-primary);
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}

.contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

form {
   display: flex; 
   flex-direction: column;
   gap: 1.2rem;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid var(--color-primary);
    resize: none;
    color: antiquewhite;
}

/* tablets */
@media screen and (max-width: 1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/* phone */
@media screen and (max-width: 600px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}