footer {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 2rem;
}

footer a {
    color: var(--color-primary);
}

.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    display: inline-block;
}

.quote {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 1rem auto 5rem;
}

/* phone */
@media screen and (max-width: 600px) {
    .navigation {
        flex-direction: column;
        gap: 1.5rem;
    }
}